$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-light-color: white;
$navbar-light-hover-color: rgb(209, 83, 83);
$navbar-light-active-color: white;
$navbar-light-disabled-color:rgb(145, 138, 138);
$card-bg:rgba(39, 36, 36, 0.712);
$card-color: white;
$primary: white;
$success: rgb(209, 83, 83);
@import "../node_modules/bootstrap/scss/bootstrap";